<html>
    <head>
        <title>
            Find a Doctor
        </title>
    </head>
    <body>
        <div class="choose_specialist">
            <form>
                <Label for="specialist">Choose Speciality needed:</Label>
                <select id="specialist" name="specialist">
                    <option value="2">Specialist-Physician</option>
                    <option value="2">Specialist-Cardiology</option>
                    <option value="2">Specialist-Ophthalmology</option>
                </select>
                <input type="submit">
            </form>
        </div>
        <div class="results">

        </div>
    </body>
</html>