{% extends "appointment/base.html" %}
{% block content %}
    <div class="container bg-light border rounded">
    <br>
        {% if user.type == 1 %}
            <a class="btn btn-primary btn-lg btn-block" href={% url 'appointment:find-doctor' %}>Book an Appointment</a>
            <br>
        {% endif %}
        <div>
            <h3>Upcoming Appointments</h3>
            {% if not appointments.count %}
                <p>You have no upcoming appointments</p>
            {% endif %}
            {% for appointment in appointments %}
                <div class="card w-100 bg-light">
                    <div class="card-body">
                        {% if user.type == 1 %}
                            <h5 class="card-title">Doctor: Dr. {{ appointment.doctor.full_name }}</h5>
                        {% else %}
                            <h5 class="card-title">Patient: {{ appointment.user.full_name }}</h5>
                        {% endif %}
                        <p class="card-text">
                            <b>Date & Time</b>: {{ appointment.time }}<br>
                            <b>Reason for appointment</b>: {{ appointment.reason_for_appointment }}
                        </p>
                        <a class="btn btn-primary" href={% url 'appointment:view-appointment' appointment_id=appointment.id %}>View Appointment</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}