{% extends 'appointment/base.html' %}
{% block content %}
    <div class="container">
        <h3>Appointment Details:</h3>
        <ul>
            <li>Name: Dr. {{ doctor.full_name }}</li>
            <li>Slot Date: {{ date }}</li>
        </ul>
        <h3>Timeslots:</h3>
        <div class="container">
            <table class="table">
                {% for slot in slots %}
                    {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                        {% if slot.isFull %}
                            <td><a href="#" class="btn btn-danger btn-lg">{{ slot.time }}</a></td>
                        {% else %}
                            <td><a class="btn btn-light btn-lg" href={% url "appointment:create-appointment" doctor_id=doctor.id date=date timeslot=forloop.counter %} >{{ slot.time }}</a></td>
                        {% endif %}
                    {% if forloop.counter|divisibleby:4 or forloop.last %}</tr>{% endif %}
                {% endfor %}
            </table>
        <div>
    </div>
{% endblock content %}