{% extends "appointment/base.html" %}
{% block content %}
    <div class="container">
        <br>
        <h4>Patient Details: </h4>
        <table class="table">
            <tr>
                <td><b>Patient Name:</b></td>
                <td>{{ patient.full_name }}</td>
            </tr>
            <tr>
                <td><b>Phone Number:</b></td>
                <td>{{ patient.ph_number }}</td>
            </tr>
            <tr>
                <td><b>Email Address:</b></td>
                <td>{{ patient.email }}</td>
            </tr>
        </table>
        <h4>Previous Appointment</h4>
        {% for appointment in appointments %}
            <div class="card w-100 bg-light">
                <div class="card-body">
{#                    <h5 class="card-title">Doctor: Dr. {{ appointment.doctor.full_name }}</h5>#}
                    <p class="card-text">
                        <b>Date & Time</b>: {{ appointment.time }}<br>
                        <b>Reason for appointment</b>: {{ appointment.reason_for_appointment }}
                    </p>
                    <a class="btn btn-primary"
                       href={% url 'appointment:view-appointment' appointment_id=appointment.id %}>View Appointment</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock content %}