{% extends "appointment/base.html" %}
{% block content %}
    <div class="container bg-light border rounded">
        <br>
        <h3>Doctor Profile</h3>
        <table class="table">
            <tr>
                <td>Name:</td>
                <td>{{ doctor.full_name }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ doctor.email }}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{ doctor.ph_number }}</td>
            </tr>
            <tr class=>
                {% if doctor.type == 1 %}
                    <td>doctor Type:</td>
                    <td>Patient</td>
                {% elif doctor.type == 2 %}
                    <td>Speciality:</td>
                    <td>Physician</td>
                {% elif doctor.type == 3 %}
                    <td>Speciality:</td>
                    <td>Cardiology</td>
                {% elif doctor.type == 4 %}
                    <td>Speciality:</td>
                    <td>Ophthalmology</td>
                {% endif %}
            </tr>
        </table>
    </div>
{% endblock content %}