{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        OTP Login
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>
<body background={% static "user/images/pattern.jpg" %}>
<div class="container">
    <div>
        <h1>OTP Login</h1><br>
    </div>
    <div class="container bg-light border rounded">
        <form action={% url "user:otp-verification" email=email %} method="POST">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input name="email" value={{ email }} readonly><br>
            <label for="otp">OTP:&nbsp&nbsp</label>
            <input name="otp" type="text">
            <br><br>
            {% if error is not None %}
                <ul>
                    <li>{{ error }}</li>
                </ul>
            {% endif %}
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>